# Importing The Data

In [53]:
import pandas as pd
from IPython.display import display
import warnings
warnings.filterwarnings("ignore")
data = pd.read_csv("https://media.githubusercontent.com/media/MuseumofModernArt/collection/master/Artworks.csv")

For Purposes of this assignment will only be working with the following columns

#Title - The title of the artwork
#Artist - The name of the artist who created the artwork
#Nationality - The nationality of the artist
#BeginDate - The year in which the artist was born
#EndDate - The year in which the artist died
#Gender - The gender of the artist
#Date - The date that the artwork was created
#Department - The department inside MoMA that the artwork belongs to

In [54]:
data = data[['Title','Artist','Nationality','BeginDate','EndDate','Gender','Date','Department']]
print("Date has {} rows and {} columns".format(data.shape[0], data.shape[1]))

Date has 136531 rows and 8 columns

# Preview Data

In [55]:
print("Date has {} rows and {} columns".format(data.shape[0], data.shape[1]))

Date has 136531 rows and 8 columns

In [56]:
data.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",Otto Wagner,(Austrian),(1841),(1918),(Male),1896,Architecture & Design
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,(French),(1944),(0),(Male),1987,Architecture & Design
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,(Austrian),(1876),(1957),(Male),1903,Architecture & Design
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,(),(1944),(0),(Male),1980,Architecture & Design
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,(Austrian),(1876),(1957),(Male),1903,Architecture & Design

# Data Cleaning

When looking at the first 5 rows of the data we can see that Nationality, BeginDate, EndDate, Gender all contain (). I will remove the parenthesis by interacting though every column and applying str.replace.

str.replace replaces a character with another character within the cell of a dataframe.
.replace('character_to_replace','replace_with')

In [57]:
#remnove parenthesis
for column in ['Nationality','BeginDate','EndDate','Gender']:
    data[column] = data[column].str.replace('(','')
    data[column] = data[column].str.replace(')','')


data.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",Otto Wagner,Austrian,1841,1918,Male,1896,Architecture & Design
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,French,1944,0,Male,1987,Architecture & Design
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,Austrian,1876,1957,Male,1903,Architecture & Design
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,,1944,0,Male,1980,Architecture & Design
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,Austrian,1876,1957,Male,1903,Architecture & Design

# Explore Gender

In [58]:
gender = data['Gender'].unique().tolist()
display(data[data['Gender']==' Female Female Male Female Female Female Female Male Male Female Male'])
for_later_manipulation = data[data['Gender']==' Female Female Male Female Female Female Female Male Male Female Male']

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
134833,Parkett no. 100/101,"Various Artists, Nairy Baghramian, Sophie Call...",German French Italian South African German Ge...,0 1971 1953 1960 1953 1956 1961 1948 1946 1980...,0 0 0 0 0 0 0 0 0 0 0 0,Female Female Male Female Female Female Femal...,2017,Drawings & Prints

I used unique().list() which takes all values in the dataframe and includes each unique value into the list 'gener'
This allowed me to get a quick view as too how gender is classified in our data. 

I found that for paintings that have multiple artist, all artists are included within the same row. 
For now lets filter out these instances, but save it another a different data frame.

Now that we have out gender list, I will interate through it to find another other categorization that aren't male or female. More specifically, I am interested to know how unkown gender of the artist is categorized.

In [31]:
# lets check how nan are categorized
# Lets try to look for 'ale' since that combination of words is found in both male and female. Whenever we don't see 
# that combination add it to our list_nans, which will contains all possible categorization for nans

if_nans = data['Gender'].isnull().values.any() #check if there are nan's True
display(data[data['Gender'].isnull()].head())

list_nans = []
for i in gender:
    try:
        if (i.find('ale')!=-1):
            pass
        else:
            list_nans.append(i)
    except:
        list_nans.append(i)
        continue

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
1355,Mat,NaN,NaN,NaN,NaN,NaN,c. 1930-40,Architecture & Design
1930,Bread Knife,NaN,NaN,NaN,NaN,NaN,1950s,Architecture & Design
1940,Combination Meat Chopper and Tenderizer,NaN,NaN,NaN,NaN,NaN,1950s,Architecture & Design
2470,Wine Bottle Stand,NaN,NaN,NaN,NaN,NaN,c.1955,Architecture & Design
3358,Kitchen Scoop,NaN,NaN,NaN,NaN,NaN,1950s,Architecture & Design

list_nans = ['', ' ', nan, '  ', '   ', '     ', '    ']

Unknown gender is categorized in many different ways. There are nans, empty spaces, and mulitple empty spaces. 
A simple .fillna will not work.

In [32]:
# Lets replace the nans in the columns
for i in list_nans:
    data['Gender'] = data['Gender'].replace(i, "No Gender Info")


#lets check one of those NaNs
display(data[data['Title'] == 'Mat'])

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
1355,Mat,NaN,NaN,NaN,NaN,No Gender Info,c. 1930-40,Architecture & Design

unknown gender information has been replace with 'no gender info'
Next, let's apply more data cleaning techiques to gender.

In [33]:
#convert all to lower
data['Gender'] = data['Gender'].str.lower()

#Strip empty spaces at the beg. and end
data['Gender'] = data['Gender'].str.strip()

#Now that the gender column is cleaned, lets filter the multiple gender data out to only get data
#where only one artist is listed.

data_Clean = data[(data['Gender'] == 'male') | (data['Gender'] == 'female') | (data['Gender'] == 'no gender info')]
display(data_Clean['Gender'].unique().tolist())
data_Clean.head()

['male', 'female', 'no gender info']

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",Otto Wagner,Austrian,1841,1918,male,1896,Architecture & Design
1,"City of Music, National Superior Conservatory ...",Christian de Portzamparc,French,1944,0,male,1987,Architecture & Design
2,"Villa near Vienna Project, Outside Vienna, Aus...",Emil Hoppe,Austrian,1876,1957,male,1903,Architecture & Design
3,"The Manhattan Transcripts Project, New York, N...",Bernard Tschumi,,1944,0,male,1980,Architecture & Design
4,"Villa, project, outside Vienna, Austria, Exter...",Emil Hoppe,Austrian,1876,1957,male,1903,Architecture & Design

# Explore Nationality and Artist

Now, lets clean up nationality and artist. For this case, there isn't much to do. We will just replace nans.

In [34]:
# Lets first explore the other columns
data_Clean['Nationality'].fillna('nationality unknown', inplace=True)
data_Clean['Artist'].fillna('artist unknown', inplace=True)

# Explore Begin,EndDate, and Date

lets ensure that the dates are integers

In [35]:

try:
    data_Clean[["BeginDate", "EndDate", "Date"]].apply(pd.to_numeric)
except Exception as e:
    print(str(e))

('Unable to parse string "1936 1909" at position 530', 'occurred at index BeginDate')

There is an error. The code found a string '1936 1909' and it cannot convert it to numeric.
Realizing that cleaning these columns is going to be harder than intially thought, lets explore what other surpises we can find these columns.

I created a custom function, that will go through every values in the column, attempt to convert it to an integer. If it cannot convert it, then it will add it to a list, list_of_bad_dates.

In [36]:
def find_dates_issues(df, col):
    list_of_bad_dates = []
    dates = df[col].values
    for i in dates: 
        try:
            int(i)
        except: 
            list_of_bad_dates.append(i)
    return list_of_bad_dates
            
bad_Begin_Dates = find_dates_issues(data_Clean,'BeginDate')
bad_Date = find_dates_issues(data_Clean,'Date')
bad_End_Dates = find_dates_issues(data_Clean,'EndDate')

From a quick scan we can see their are nans, mulitple dates, Incomplete years and special characters. The Dates column is messier than all the others.

There a few things we must do to these dates. 
  Remove any parentheses or extra other characters
  
  Ensure that there are no more than one digit. Where there is a single year, we'll keep it and handle the other cases:
        Some are ranges where both years have four digits, e.g. 1913 1923
        Some are ranges where the second year has only two digits, e.g. 1870 79

In [37]:
dummy_data = bad_Date[1:5]
import re

def strip_characters(badDate):
    badDate.strip()
    return re.sub(r"[^0-9]+", ' ', badDate).strip().split(" ")
strip_characters('lksajf3984 laskjf43/')

['3984', '43']

strip_characters return a list of all dates that were seperated by a space.
strip_characters('lksajf3984 laskjf43/') = ['3984', '43']

There are two custom functions that will handle the rest of the data cleanning. Classify_fix_date_type applys strip_characters() to the date, classifies the date based on the length of list and items in list. (i.e 1890 1892 vs 1820 83)

After classifying, if it is an easy fix, like returning unknown or just returning date Classify_fix_date_type will do that. It the data cleaning is more involve it will call handle_dates which applys data cleanning based on our rules. 

Rules:
1920       return 1920
1920 20    return AVG(1920 + 1920) iff diffence is 20 years apart
1991 1992  return AVG(1991+1992)   iff diffence is 20 years apart
1950 0     return 0 
0 1820     return 1820
1820 1840 1856 return 1820 (first date)
'unknown'  return unknown

In [38]:
# our Strip_Characters return a list of all 'Dates' seperated by dates
def classify_fix_date_type(date):
    date=str(date)
    # unknown mispelling added later due to miseplling found in the Dates column
    if (date.lower() == 'unknown') or date =='Unkown':
        return 'unknown'
    split_dates = strip_characters(date)
    if len(split_dates) == 1 and len(split_dates[0]) == 4:
        return date
    
    elif sum(len(i) for i in split_dates) % 4 == 0 : 
        return handle_dates(2, split_dates)
    
    elif sum(len(i) for i in split_dates) % 4 != 0 and len(split_dates[0]) == 4 :
        return handle_dates(3, split_dates)
    
    elif split_dates[0] == '0':
        try:
            if(len(split_dates[1]) == 4):
                return split_dates[1]
            else: return (split_dates[0])
        except:
            return split_dates[0]
    
    else: 
        return date
    
        
    
def handle_dates(classify_date_type, split_dates):
    if classify_date_type == 2:
         return round(sum(int(i) for i in split_dates)/2)
    
    if classify_date_type == 3:
       
        if split_dates[1]=='0' and len(split_dates[0])==4:
           
            return split_dates[0]          
        if len(split_dates[0])==4 and len(split_dates[1])==2:      
            new_date = int(split_dates[0][0:2] + split_dates[1]) 
            if abs(new_date - int(split_dates[0])) < 20: 
                 return round(int(split_dates[0]) + new_date)/2
            else:
                return split_dates[0]
        else: return split_dates[0]

In [39]:
# lets see the function at work          
print(classify_fix_date_type("1952 1924 0"))
print(classify_fix_date_type("1990 1992"))
print(classify_fix_date_type("1990 0"))

1952
1991
1990

Apply it to our dataframe columns. 
First fill na's with unknown because applying our custom functions

In [40]:
        
data_Clean['BeginDate'].fillna("unknown", inplace=True)
data_Clean['BeginDate'] = data_Clean['BeginDate'].apply(classify_fix_date_type) 

data_Clean['EndDate'].fillna("unknown", inplace=True)
data_Clean['EndDate'] = data_Clean['EndDate'].apply(classify_fix_date_type)

After cleaning these two columns, I did some exploration of the data. To ensure everything was capture.

# attempted to convert everything that is not unknown to a integer
temp_series = data_Clean['EndDate'][data_Clean['EndDate'] != 'unknown'].astype(int)
# use a group by to get dates counts 
check = check.groupby([data_Clean['EndDate'][data_Clean['EndDate'] != 'unknown'].astype(int)]).count()
# plotted dates for a quick visual of dates
check.plot()
# found that there were dates after out current date.
check = temp_series[temp_series > 2019]

I found an entry date that was incorrect. The EndDate was 3004 which is not possible. I removed the row using .loc since it was ony one item

In [41]:
display(data_Clean[data_Clean['EndDate']== '3004'])

data_Clean.drop(data_Clean.loc[data_Clean['EndDate']=='3004'].index, inplace=True)

# I will the same type of checks for Begin Date as well

Empty DataFrame
Columns: [Title, Artist, Nationality, BeginDate, EndDate, Gender, Date, Department]
Index: []

I applied the same exploreation to BeginDate.

I found that there are birthdates that are after 2019. I dropped any birthdates after 2010. 

Since there are mulitple instance we will filter the data out rather than use an accessor.

We will also drop any unknown birthdates and EndDates. We could've have dropped them at the beginning, but I wanted to play around with NaNs for learning purposes.

This is why it is importatant to understand the requirements before starting a project.

In [42]:
data_Clean = data_Clean[data_Clean['BeginDate'] != 'unknown']
data_Clean = data_Clean[data_Clean['EndDate'] != 'unknown']
data_Clean[['BeginDate','EndDate']]=data_Clean[['BeginDate','EndDate']].astype(int)

data_Clean = data_Clean[data_Clean['BeginDate'] < 2010]

# Apply custom functions to Date
I mentioned how Dates was more complicated than End and Begin Date. Lets test out our

In [43]:
data_Clean['Date'].isnull().values.any()
try: 
    data_Clean['Date'] = data_Clean['Date'].apply(classify_fix_date_type) 
except Exception as e:
    print(e)

invalid literal for int() with base 10: ''

The reason I wrapped it under with a try and except was because dates was much meassier than the other two date columns. There may have a case in which our custom cleanning code doesn't work. It looked like we found one. After some more exploration, I found that there are Dates marked as just n.d., Various, unknown and an incorrect spelling of unknown,'(London?, published in aid of the Comforts Fund  for Women and Children of Sovie',(n.d.),'New York' and others

Due to the strip_characters function, n.d is converted to just ''

In these cases, will will drop these rows.

In [44]:
data_Clean['Date'].fillna('unknown', inplace=True) 
data_Clean=data_Clean[~data_Clean['Date'].isin(['nd','n.d','TBC','TBD','no date','date of publicati','New York','(n.d.)','n.d.','Various','''(London?, published in aid of the Comforts Fund  for Women and Children of Sovie'''])]

data_Clean['Date'] = data_Clean['Date'].apply(classify_fix_date_type)

In [45]:
# An interesting Case. How did our custom functin handle this.
'Paris, Couvent du Sacré Coeur, and Issy-les-Moulineaux, spring 1908-late 1909'

display(data[data['Date'] == 'Paris, Couvent du Sacré Coeur, and Issy-les-Moulineaux, spring 1908-late 1909'])
display(data_Clean[data_Clean['Title'] == 'The Back (I)'])

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
74832,The Back (I),Henri Matisse,French,1869,1954,male,"Paris, Couvent du Sacré Coeur, and Issy-les-Mo...",Painting & Sculpture

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
74832,The Back (I),Henri Matisse,French,1869,1954,male,1908,Painting & Sculpture

1908! which is what we expect AVG(1908+ 1909)=1908.5 which rounds to 1908

In [46]:
round(1908.5)

1908

# Bonus data manupulation
Because, I am unsure what are the rules when inputting multple artist we cannot be sure that each artist, beginDate, Enddate and Gender are in order.

In [171]:
display(for_later_manipulation )

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
134833,Parkett no. 100/101,"Various Artists, Nairy Baghramian, Sophie Call...",German French Italian South African German Ge...,0 1971 1953 1960 1953 1956 1961 1948 1946 1980...,0 0 0 0 0 0 0 0 0 0 0 0,Female Female Male Female Female Female Femal...,2017,Drawings & Prints

In [180]:
def extract_artists(artists):
    return [x.strip() for x in artists.split(',')]

def extract_Nationality(Nationality):
    return [x.strip() for x in Nationality.split()]

def extract_BeginDate(BeginDate):
    return  [x.strip() for x in BeginDate.split()]

def extract_EndDate(EndDate):
    return  [x.strip() for x in EndDate.split()[1:]]

def extract_Gender(Gender):
    return  [x.strip() for x in Gender.split()]

def add_to_dictionary(index,row):
    Dict_new_Items = {
        "Title": [],
        "Artist": [],
        "Nationality" : [],
        "BeginDate": [],
        "EndDate" : [],
        "Gender" : [],
        "Date" : [],
        "Department" : [],
    
    }
    
    Dict_new_Items["Artist"] = extract_artists(row['Artist'])
    Dict_new_Items["Nationality"] = extract_Nationality(row['Nationality'])
    Dict_new_Items["BeginDate"] = extract_BeginDate(row['BeginDate'])
    Dict_new_Items["EndDate"] = extract_EndDate(row['EndDate'])
    Dict_new_Items["Gender"] = extract_Gender(row['Gender'])

    # all these lists should be the same size
    number_of_artist = len(Dict_new_Items["Artist"])
    for key in ["Nationality","BeginDate","EndDate","Gender"]:

        if len(Dict_new_Items[key]) < number_of_artist:

            Dict_new_Items[key].append("unknown")

        elif len(Dict_new_Items[key]) > number_of_artist:
            Dict_new_Items[key]=Dict_new_Items[key][0:number_of_artist]
    # Ensure all lists are the same size
    for i in list(range(number_of_artist)):
        Dict_new_Items["Title"].append(row['Title'])
        Dict_new_Items["Date"].append(row['Date'])
        Dict_new_Items["Department"].append(row['Department'])
            
                
    return Dict_new_Items

Clean_data_multiple_artist=pd.DataFrame(columns=['Title','Artist','Nationality','BeginDate','EndDate','Gender','Date','Department'])
for index, row in for_later_manipulation.iterrows():
    Clean_data_multiple_artist = Clean_data_multiple_artist.append(pd.DataFrame(add_to_dictionary(index,row)))
    
display(Clean_data_multiple_artist)

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Parkett no. 100/101,Various Artists,German,0,0,Female,2017,Drawings & Prints
1,Parkett no. 100/101,Nairy Baghramian,French,1971,0,Female,2017,Drawings & Prints
2,Parkett no. 100/101,Sophie Calle,Italian,1953,0,Male,2017,Drawings & Prints
3,Parkett no. 100/101,Maurizio Cattelan,South,1960,0,Female,2017,Drawings & Prints
4,Parkett no. 100/101,Marlene Dumas,African,1953,0,Female,2017,Drawings & Prints
5,Parkett no. 100/101,Katharina Fritsch,German,1956,0,Female,2017,Drawings & Prints
6,Parkett no. 100/101,Katharina Grosse,German,1961,0,Female,2017,Drawings & Prints
7,Parkett no. 100/101,Marilyn Minter,American,1948,0,Male,2017,Drawings & Prints
8,Parkett no. 100/101,Jean-Luc Mylayne,French,1946,0,Male,2017,Drawings & Prints
9,Parkett no. 100/101,Nicolas Party,Swiss,1980,0,Female,2017,Drawings & Prints
10,Parkett no. 100/101,Pipilotti Rist,Swiss,1962,0,Male,2017,Drawings & Prints
11,Parkett no. 100/101,Jordan Wolfson,American,1980,unknown,unknown,2017,Drawings & Prints

To run add_to_dictionary, we iterate trough each row in the df. The function extracts the information it needs per row and appends it to Clean_data_multiple_artist when data cleaning methods have been completed

We extracted every Artists name from a cell. Each artist lined up with a natinality. Whenever the number of EndDate and Gender did not match the number of Artist we input known.

There are few things about this data. Various Artists does not look like a correct artist, but there are 12 Nationality that match with those 12 artists. Because I do not know what the rule is for inputting this data, I choose to ommit this from our original data cleaning which why it is here under Bonus.