In [81]:
import os
import datetime as dt
import pandas as pd
os.getcwd()
data=pd.read_csv(os.getcwd() + '/potus_visitors_2015.csv', encoding="latin1")

In [82]:
data.head()

,name,appt_made_date,appt_start_date,appt_end_date,visitee_namelast,visitee_namefirst,meeting_room,description
0,Joshua T. Blanton,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
1,Jack T. Gutting,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
2,Bradley T. Guiles,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
3,Loryn F. Grieb,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard
4,Travis D. Gordon,2014-12-18T00:00:00,1/6/15 9:30,1/6/15 23:59,NaN,potus,west wing,JointService Military Honor Guard

appt_made_date - The date and time that the appointment was created
appt_start_date - The date and time that the appointment was scheduled to start
appt_end_date - The date and time that the appointment was scheduled to end
visitee_namelast - The first name of the visitee (the person the visitor was meeting with)
visitee_namefirst - The last nameof the visitee
meeting_room - The room in which the appointment was scheduled
description - Optional comments added by the WAVES operator

While working with dates will we perform the following tasks
    Calculate the month with the most visitors
    Calculate the most common time that visits occurred
    Calculate summary statistics on visit length and how far ahead visits are booked
    Produce neatly formatted summaries of daily visits

Before we start, I am going to make sure I know the format of the dates. m/dd/yyy vs dd/mm/yyy. 
appt_made_date - > mnm/dd/yy

For the next two date columns, I am going to find a date that is ambigious (i.e A date 13)
I am going to look at the tail, before trying anything t0o ocomplicated.

In [83]:
data.tail()

,name,appt_made_date,appt_start_date,appt_end_date,visitee_namelast,visitee_namefirst,meeting_room,description
47949,William B. Henline,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47950,Ian T. Burris,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47951,James F. Albaugh,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47952,Jackie L. Finken,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN
47953,Grace M. Bauman,2015-12-16T00:00:00,12/18/15 16:30,12/18/15 23:59,NaN,POTUS/FLOTUS,State Floo,NaN

By Looking at the tail tell the format of the dates.
appt_start_date -> mm/dd/yy
appt_end_date - > mm/dd/yy

#Convert applicable Columns to date time objects

In [88]:
# currently they are strings
type(data['appt_start_date'][1])

pandas._libs.tslibs.timestamps.Timestamp

In [91]:
for col in ['appt_start_date','appt_end_date']:
    data[col] = pd.to_datetime(data[col], format='%m/%d/%y %H:%M')
# appt_made_date has a different formate
data['appt_made_date'] = pd.to_datetime(data['appt_made_date'], format='%Y-%m-%dT%H:%M:%S')
type(data['appt_made_date'][1])

In [104]:
# Create a month, year key and get number of vistors per month
def month_year (date_series): 
    date_dict = {}
    for i in date_series:
        if i.strftime("%B , %Y") not in date_dict:
            date_dict[i.strftime("%B , %Y")] = 1
        else:
             date_dict[i.strftime("%B , %Y")] =   date_dict[i.strftime("%B , %Y")] + 1
    return date_dict
    
month_year(data['appt_start_date'])

{'January , 2015': 1248,
 'February , 2015': 2165,
 'March , 2015': 2262,
 'April , 2015': 4996,
 'May , 2015': 3013,
 'June , 2015': 7743,
 'July , 2015': 2930,
 'August , 2015': 1350,
 'September , 2015': 4416,
 'October , 2015': 3669,
 'November , 2015': 1133,
 'December , 2015': 13029}

Let's create a frequency table of appointment times using time objects as keys, and then use the min() and max() functions to calculate the earliest and latest appointments.

In [117]:
def hour_Min (date_series): 
    date_dict = {}
    for i in date_series:
        if i.strftime("%H:%M") not in date_dict:
            date_dict[i.strftime("%H:%M")] = 1
        else:
             date_dict[i.strftime("%H:%M")] =   date_dict[i.strftime("%H:%M")] + 1
    return date_dict, min(date_dict), max(date_dict)


hour_min_dict = hour_Min(data['appt_start_date'])
print('Dict {}'.format(hour_min_dict[0]))
print('Earliest App. {}'.format(hour_min_dict[1]))
print('Latest Appt. {}'.format(hour_min_dict[2]))

Dict {'09:30': 1213, '10:00': 1543, '10:30': 696, '11:00': 783, '11:30': 357, '12:30': 1115, '09:00': 511, '19:00': 301, '10:55': 2, '12:00': 1041, '13:00': 1548, '13:30': 5897, '14:00': 996, '14:30': 921, '18:00': 8173, '15:30': 2855, '16:00': 2027, '15:00': 862, '10:20': 12, '17:15': 103, '11:45': 39, '12:05': 6, '14:15': 119, '14:55': 13, '12:15': 32, '17:00': 930, '17:20': 16, '17:30': 457, '08:30': 395, '16:30': 1144, '07:00': 1768, '07:30': 818, '08:00': 460, '15:45': 23, '17:45': 38, '18:30': 985, '19:15': 17, '19:30': 99, '20:00': 185, '20:30': 22, '16:15': 69, '15:20': 36, '14:10': 9, '14:45': 1434, '12:55': 1, '13:09': 1, '13:20': 36, '16:55': 5, '10:45': 347, '11:50': 4, '13:15': 272, '17:25': 24, '09:15': 6, '21:30': 9, '17:05': 6, '11:15': 3, '18:15': 390, '07:15': 40, '08:45': 249, '15:15': 3732, '18:20': 4, '18:22': 1, '18:23': 1, '18:33': 1, '18:42': 1, '09:45': 220, '11:20': 7, '16:45': 224, '12:45': 921, '15:05': 18, '15:08': 1, '12:11': 1, '12:22': 1, '12:24': 1, '12:27': 1, '13:48': 1, '13:52': 1, '13:55': 1, '14:03': 1, '14:09': 1, '16:20': 1, '06:00': 256, '07:35': 1, '07:59': 1, '08:06': 1, '08:22': 1, '08:35': 1, '19:03': 1, '15:23': 1, '15:55': 10, '14:50': 8, '13:35': 4, '15:25': 11, '13:50': 167, '13:45': 344, '14:12': 3, '12:50': 2, '12:56': 1, '12:59': 2, '13:05': 1, '13:18': 1, '13:25': 2, '13:40': 1, '13:47': 1, '10:10': 2, '10:15': 65, '10:25': 13, '12:32': 2, '12:40': 2, '12:46': 2, '13:10': 1, '16:40': 12, '21:00': 11, '17:40': 4, '17:50': 4, '17:55': 1, '17:57': 1, '17:59': 2, '18:05': 1, '18:45': 27, '12:20': 4, '16:10': 176, '15:28': 2, '15:35': 2, '15:52': 1, '15:54': 3, '15:58': 1, '16:06': 1, '16:22': 1, '16:35': 11, '11:25': 1, '18:50': 11, '19:45': 4, '20:15': 1, '09:35': 1, '16:25': 8, '14:59': 1, '15:04': 1, '15:07': 2, '15:10': 5, '15:16': 2, '15:19': 2, '15:27': 3, '15:40': 3, '15:49': 3, '15:53': 1, '14:20': 6, '17:35': 17, '14:49': 1, '16:50': 3, '11:42': 2, '17:10': 7, '14:07': 1, '06:30': 32, '18:40': 6, '18:52': 1, '15:17': 1, '19:20': 1, '15:50': 4, '14:18': 1, '15:01': 16, '16:46': 1, '14:25': 2, '18:04': 1, '18:13': 1, '18:25': 1, '18:28': 1, '18:35': 2, '18:55': 1, '18:57': 2, '14:40': 6, '18:07': 1, '18:26': 1, '18:27': 1, '19:05': 2, '19:10': 4, '19:50': 1, '20:10': 1}
Earliest App. 06:00
Latest Appt. 21:30

In [116]:
data['appt_start_date'][1].strftime("%H:%M")

'09:30'

Calculate the length of each appointment:
    Calculating the minimum value in the and assigning it to min_length
    Calculating the maximum value in the and assigning it to max_length
    Calculating the average value in the and assigning it to avg_length

data['length_of_meeting'] = data['appt_end_date'] - data['appt_start_date']
data['length_of_meeting'].head()

When subtracting datetime objects we get a timedelta. Timedelta have a different orientation.

In [131]:

import numpy as np
print('Min length {}'.format(min(data['length_of_meeting'])))
print('Max length {}'.format(max(data['length_of_meeting'])))
# avg can be calculated sum(list)/len(list)
# I will use np.mean instead
print('AVG length {}'.format(np.mean(data['length_of_meeting'])))

Min length 0 days 02:29:00
Max length 16 days 12:59:00
AVG length 0 days 10:36:55.675856

For curiousity lets explore the 16 days max app. length

In [136]:
data[data['length_of_meeting'] == dt.timedelta(days=16, hours=12, minutes=59)]

#datetime.timedelta(days=0, seconds=0, microseconds=0,
 #                  milliseconds=0, minutes=0, hours=0, weeks=0)

Empty DataFrame
Columns: [name, appt_made_date, appt_start_date, appt_end_date, visitee_namelast, visitee_namefirst, meeting_room, description, length_of_meeting]
Index: []