In [3]:
import os
import pandas as pd
os.getcwd()
data=pd.read_csv(os.getcwd() + '/whitehouse_waves-2015_12.csv', encoding="latin1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data.head()

,NAMELAST,NAMEFIRST,NAMEMID,UIN,BDGNBR,ACCESS_TYPE,TOA,POA,TOD,POD,...,TERMINAL_SUFFIX,visitee_namelast,visitee_namefirst,MEETING_LOC,MEETING_ROOM,CALLER_NAME_LAST,CALLER_NAME_FIRST,CALLER_ROOM,Description,Release_Date
0,Genachowski,Julius,M,U21456,100955.0,VA,10/1/2014 6:52,A0401,NaN,NaN,...,CM,Eggleston,Neil,WH,Mess,MCCOMBS,CLAIRE,NaN,NaN,1/30/2015
1,Webb,Justin,P,U21348,100075.0,VA,10/1/2014 7:21,D1102,10/1/2014 16:11,NaN,...,SR,Rees,Stephanie,OEOB,97,REES,STEPHANIE,NaN,NaN,1/30/2015
2,SWOGGER,BRIAN,J,U19533,NaN,VA,NaN,NaN,NaN,NaN,...,CG,WEISTER,SCOTT,OEOB,14,GREENWALT,CLIFFORD,NaN,NaN,1/30/2015
3,hadley,michael,a,U21244,81750.0,VA,10/1/2014 7:24,K01,10/1/2014 9:27,NaN,...,RM,Dunnuck,Rick,NEOB,3000,MCANAW,ROSANNA,NaN,NaN,1/30/2015
4,Stallworth,Tiara,S,U21401,95591.0,VA,10/1/2014 8:03,K01,10/1/2014 8:52,NaN,...,BD,DeGuzman,Brian,NEOB,4211,DEGUZMAN,BRIAN,NaN,NaN,1/30/2015

''